Repository Yokud/OnlineTerrainGenerator, pull requests merged in 2023-04, with the labels that each got.

#13 Добавить макеты проекта в readme
  .gitignore
  frontend/README.md
Labels: frontend

#14 Frontend server
  LICENSE
  frontend/package-lock.json
  frontend/package.json
  frontend/server/index.js
Labels: frontend

#15 Frontend flux
  frontend/package-lock.json
  frontend/package.json
  frontend/public/actions/actionTerrain.js
  frontend/public/dispatcher/dispatcher.js
  frontend/public/index.js
  frontend/public/modules/ajax.js
  frontend/public/modules/validation.js
  frontend/public/stores/terrainStore.js
  frontend/public/views/terrainView.js
Labels: frontend

#20 init backend
  backend/OnlineTerrainGenerator.sln
  backend/OnlineTerrainGeneratorWebAPI/Controllers/WeatherForecastController.cs
  backend/OnlineTerrainGeneratorWebAPI/OnlineTerrainGeneratorWebAPI.csproj
  backend/OnlineTerrainGeneratorWebAPI/Program.cs
  backend/OnlineTerrainGeneratorWebAPI/Properties/launchSettings.json
  backend/OnlineTerrainGeneratorWebAPI/WeatherForecast.cs
  backend/OnlineTerrainGeneratorWebAPI/appsettings.Development.json
  backend/OnlineTerrainGeneratorWebAPI/appsettings.json
Labels: backend

#21 Шум Перлина
  backend/.editorconfig
  backend/OnlineTerrainGenerator.sln
  backend/TerrainGenerator/Heightmap.cs
  backend/TerrainGenerator/PerlinNoise.cs
Labels: backend, terrain generation

#22 Diamond square
  backend/TerrainGenerator/DiamondSquare.cs
  backend/TerrainGenerator/Heightmap.cs
  backend/TerrainGenerator/PerlinNoise.cs
Labels: backend, terrain generation

#24 Симплексный шум
  backend/TerrainGenerator/DiamondSquare.cs
  backend/TerrainGenerator/PerlinNoise.cs
  backend/TerrainGenerator/SimplexNoise.cs
Labels: backend, terrain generation

#25 Height map imgs
  backend/TerrainGenerator/Algorithms/DiamondSquare.cs
  backend/TerrainGenerator/Algorithms/PerlinNoise.cs
  backend/TerrainGenerator/Algorithms/SimplexNoise.cs
  backend/TerrainGenerator/ColorScheme.cs
  backend/TerrainGenerator/Heightmap.cs
  backend/TerrainGenerator/TerrainGenerator.csproj
Labels: backend, terrain generation

#27 Отладка алгоритмов генерации ландшафта
  backend/TerrainGenerator/Algorithms/DiamondSquare.cs
  backend/TerrainGenerator/Algorithms/PerlinNoise.cs
  backend/TerrainGenerator/Algorithms/SimplexNoise.cs
  backend/TerrainGenerator/Heightmap.cs
Labels: bug, backend, terrain generation

#31 Создан парсер HeigthMapParser
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/HeightMapLogic.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapParser/HeightMapParser.cs
  backend/OnlineTerrainGeneratorWebAPI/OnlineTerrainGeneratorWebAPI.csproj
Labels: backend

#32 Создание контроллеров и обновление слоя логики
  backend/OnlineTerrainGeneratorWebAPI/Controllers/HeightMapController.cs
  backend/OnlineTerrainGeneratorWebAPI/Controllers/WeatherForecastController.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/HeightMapLogic.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/UrlCreator.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapParser/HeightMapParser.cs
  backend/OnlineTerrainGeneratorWebAPI/Program.cs
  backend/OnlineTerrainGeneratorWebAPI/WeatherForecast.cs
  backend/TerrainGenerator/Algorithms/DiamondSquare.cs
  backend/TerrainGenerator/Algorithms/PerlinNoise.cs
  backend/TerrainGenerator/Algorithms/SimplexNoise.cs
Labels: backend

#40 Unit tests
  backend/OnlineTerrainGenerator.sln
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/HeightMapLogic.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapParser/HeightMapParser.cs
  backend/TerrainGenerator/Algorithms/DiamondSquare.cs
  backend/TerrainGenerator/Algorithms/PerlinNoise.cs
  backend/TerrainGenerator/Algorithms/SimplexNoise.cs
  backend/TerrainGenerator/Heightmap.cs
  backend/UnitTests/HeightMapTests.cs
  backend/UnitTests/LogicTests.cs
  backend/UnitTests/ParserTests.cs
  backend/UnitTests/UnitTests.csproj
  backend/UnitTests/Usings.cs
Labels: CI/CD

#41 Интеграционные тесты
  backend/IntegrationTests/IntegrLogicTests.cs
  backend/IntegrationTests/IntegrationTests.csproj
  backend/IntegrationTests/TestRequest.cs
  backend/IntegrationTests/TestStartup.cs
  backend/OnlineTerrainGenerator.sln
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/UrlCreator.cs
  backend/UnitTests/HeightMapTests.cs
Labels: CI/CD
