Repository Yokud/OnlineTerrainGenerator, pull requests merged in 2023-05, with the labels that each got.

#43 Terrain generator docs
  backend/TerrainGenerator/Algorithms/DiamondSquare.cs
  backend/TerrainGenerator/Algorithms/PerlinNoise.cs
  backend/TerrainGenerator/Algorithms/SimplexNoise.cs
  backend/TerrainGenerator/ColorScheme.cs
  backend/TerrainGenerator/Heightmap.cs
  docs/Doxyfile
Labels: documentation, CI/CD

#42 CI/CD
  .github/workflows/biuld_n_test.yml
  .github/workflows/docs.yml
Labels: CI/CD

#44 add swagger comments
  backend/OnlineTerrainGeneratorWebAPI/Controllers/HeightMapController.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/HeightMapLogic.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/UrlCreator.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapParser/HeightMapParser.cs
  backend/OnlineTerrainGeneratorWebAPI/OnlineTerrainGeneratorWebAPI.csproj
  backend/OnlineTerrainGeneratorWebAPI/Program.cs
Labels: documentation, backend

#48 Ссылка на документацию генератора
  README.md
Labels: documentation, enhancement

#49 Верстка макетов
  .gitignore
  frontend/public/components/button/button.css
  frontend/public/components/button/button.handlebars
  frontend/public/components/inputField/inputField.css
  frontend/public/components/inputField/inputField.handlebars
  frontend/public/components/terrain/terrain.css
  frontend/public/components/terrain/terrain.handlebars
  frontend/public/index.css
  frontend/public/index.html
  frontend/public/index.js
  frontend/public/modules/ajax.js
  frontend/public/static/fonts/Comfortaa-Medium.ttf
  frontend/public/static/fonts/Inter-Medium.ttf
  frontend/public/static/fonts/Inter-Regular.ttf
  frontend/public/static/fonts/Limelight-Regular.ttf
  frontend/public/static/fonts/MailSansRoman-Medium.ttf
  frontend/public/static/fonts/Montserrat-Medium.ttf
  frontend/public/static/htmlConst.js
  frontend/public/static/img/logo.svg
  frontend/public/static/img/sad.svg
  frontend/public/static/img/testImg.svg
  frontend/public/stores/terrainStore.js
  frontend/public/views/terrainView.js
Labels: frontend

#50 Frontend ajax
  frontend/package.json
  frontend/public/actions/actionTerrain.js
  frontend/public/components/terrain/terrain.css
  frontend/public/components/terrain/terrain.handlebars
  frontend/public/modules/ajax.js
  frontend/public/static/img/install.svg
  frontend/public/stores/terrainStore.js
  frontend/public/views/terrainView.js
Labels: frontend

#51 Backend release
  .github/workflows/biuld_n_test.yml
  .github/workflows/docs.yml
  README.md
  backend/.editorconfig
  backend/IntegrationTests/IntegrLogicTests.cs
  backend/IntegrationTests/IntegrationTests.csproj
  backend/IntegrationTests/TestRequest.cs
  backend/IntegrationTests/TestStartup.cs
  backend/OnlineTerrainGenerator.sln
  backend/OnlineTerrainGeneratorWebAPI/Controllers/HeightMapController.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/HeightMapLogic.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapLogic/UrlCreator.cs
  backend/OnlineTerrainGeneratorWebAPI/HeightMapParser/HeightMapParser.cs
  backend/OnlineTerrainGeneratorWebAPI/OnlineTerrainGeneratorWebAPI.csproj
  backend/OnlineTerrainGeneratorWebAPI/Program.cs
  backend/OnlineTerrainGeneratorWebAPI/Properties/launchSettings.json
  backend/OnlineTerrainGeneratorWebAPI/appsettings.Development.json
  backend/OnlineTerrainGeneratorWebAPI/appsettings.json
  backend/TerrainGenerator/Algorithms/DiamondSquare.cs
  backend/TerrainGenerator/Algorithms/PerlinNoise.cs
  backend/TerrainGenerator/Algorithms/SimplexNoise.cs
  backend/TerrainGenerator/ColorScheme.cs
  backend/TerrainGenerator/Heightmap.cs
  backend/TerrainGenerator/TerrainGenerator.csproj
  backend/UnitTests/HeightMapTests.cs
  backend/UnitTests/LogicTests.cs
  backend/UnitTests/ParserTests.cs
  backend/UnitTests/UnitTests.csproj
  backend/UnitTests/Usings.cs
  docs/Doxyfile
  docs/swagger.json
Labels: backend

#52 Frontend release
  .gitignore
  LICENSE
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/actions/actionTerrain.js
  frontend/public/components/button/button.css
  frontend/public/components/button/button.handlebars
  frontend/public/components/inputField/inputField.css
  frontend/public/components/inputField/inputField.handlebars
  frontend/public/components/terrain/terrain.css
  frontend/public/components/terrain/terrain.handlebars
  frontend/public/dispatcher/dispatcher.js
  frontend/public/index.css
  frontend/public/index.html
  frontend/public/index.js
  frontend/public/modules/ajax.js
  frontend/public/modules/validation.js
  frontend/public/static/fonts/Comfortaa-Medium.ttf
  frontend/public/static/fonts/Inter-Medium.ttf
  frontend/public/static/fonts/Inter-Regular.ttf
  frontend/public/static/fonts/Limelight-Regular.ttf
  frontend/public/static/fonts/MailSansRoman-Medium.ttf
  frontend/public/static/fonts/Montserrat-Medium.ttf
  frontend/public/static/htmlConst.js
  frontend/public/static/img/install.svg
  frontend/public/static/img/logo.svg
  frontend/public/static/img/sad.svg
  frontend/public/static/img/testImg.svg
  frontend/public/stores/terrainStore.js
  frontend/public/views/terrainView.js
  frontend/server/index.js
Labels: frontend
